# App
VITE_APP_NAME="PasMAs"
VITE_APP_VERSION=0.5.0

# Bootstrap icon class
VITE_APP_ICON="bi-feather"

# APIs
VITE_API_URL="http://localhost:8080/api"
VITE_STREAM_API_URL="http://localhost:8080/realtime"
